html, body {
    background: #222222;
    color: #00A4E4;
    height: 100%;
}

body {
    font-family: 'Verdana';
    margin: 0;
    font-size: 22px;
}

h1, h2, h3 {
    font-family: 'Rubik';
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-container#error {
    color: #E42200;
}